img {width: 25em;
	height: 15em;
	border: 3px solid #ECF0F1;
	z-index: -1;}
#underscore{border:.7em solid #ECF0F1;
			border-radius: 2em;}

img:hover{border: 3px solid  #C0392B;
			z-index: 400;}
			
.desc{text-align: center;
	  margin-top: 5%;
		opacity: .33;
		text-indent: -4000px;}

#name{font-family:effloresce}		
.desc:hover{opacity: 1.0;
			text-indent: 0px;}
.projDesc{margin-top: 5%}
#projDesc{margin-top: 16%;}
.botDesc{margin-bottom: 5%;}
#resumeStuff{margin-top: 5%;
			margin-bottom: 5%}
body{ background-color: #3D566E;
	color: #ECF0F1;}
.top{text-align: center;
	margin-bottom: 5%;}
#subtitle{font-size: 6vh;
		margin-bottom: 10vh;}

.actionLink, .actionLink:visited, .actionLink:active, .actionLink:link{color: #ECF0F1;}


.actionButtons{font-size: 7vh;}

.actionButtons:hover{color: #C0392B;}
