.logo{width: 150%;
	height:150%;
	margin-top: 2em;
	border: 3px solid #ECF0F1}
.logo:hover{
	border: 3px solid #ECF0F1
}
.date{margin-left:50%;
		text-align: right;}
.date1{margin-left:26%;
		text-align: right}
.date2{text-align: right;
		margin-left:31%;}

#github{margin-left:1.4em;}
#twitter{margin-bottom: .2em;}

#mail{margin-left: 2.5em}
#name{margin-left:8em;}

body {font-family: PT Sans, arial}

#top{border-bottom: 2px solid #C24800;}
#body{margin-top: 2%;
	text-align: center;}

#subtitle{font-style: italic;}
#thisTitle{font-size: 15vh;}
