.logo{width: 100%;
	height:100%;
	margin-top: 2em;}
.date{margin-left:50%;
		text-align: right;}
.date1{margin-left:26%;
		text-align: right}
.date2{text-align: right;
		margin-left:31%;}

#github{margin-left:1.4em;}

#mail{margin-left: 2.5em}
#name{margin-left:8em;}

body {font-family: PT Sans, arial}

#top{border-bottom: 2px solid #C24800;}
#body{margin-top: 2%;
	text-align: center;}

#subtitle{font-style: italic;}
#thisTitle{font-size: 15vh;}
