#skill { 
    list-style: none;
    font: 12px "PT Sans", Arial, Helvetica, Geneva, sans-serif;
    width: 90%;
    margin: 50px auto 0;
    position: relative;
    line-height: 2em;
    padding: 30px 0;
}

#skill li { 
    margin-bottom:50px; 
    background:#e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
    height:20px; 
    border-radius:10px; 
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;    
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;     
}

#skill li h3 { 
    position:relative; 
    top:-25px;
}

.bar { 
    height:18px; 
    margin:1px 2px;  
    position:absolute;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;    
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;       
}

.graphic-design {
    width:90%; 
    -moz-animation:graphic-design 3s ease-in;
    -webkit-animation:graphic-design 3s ease-in;
    background-color:#E74C3C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E74C3C), to(#e06995));
    background-image: -webkit-linear-gradient(top, #E74C3C, #e06995);
    background-image: -moz-linear-gradient(top, #E74C3C, #e06995);
    background-image: -ms-linear-gradient(top, #E74C3C, #e06995);
    background-image: -o-linear-gradient(top, #E74C3C, #e06995);
    background-image: linear-gradient(top, #E74C3C, #e06995);
}

.html-css {
    width:80%;
    -moz-animation:html-css 3s ease-in;
    -webkit-animation:html-css 3s ease-in;
    background-color: #D35400;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D35400), to(#d9aa44));
    background-image: -webkit-linear-gradient(top, #D35400, #d9aa44);
    background-image: -moz-linear-gradient(top, #D35400, #d9aa44);
    background-image: -ms-linear-gradient(top, #D35400 , #d9aa44);
    background-image: -o-linear-gradient(top, #D35400, #d9aa44);
    background-image: linear-gradient(top, #D35400, #d9aa44);
}

.jquery {
    width:65%;
    -moz-animation:jquery 3s ease-in;
    -webkit-animation:jquery 3s ease-in;
    background-color: #2CC36B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2CC36B), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #2CC36B, #91ba52);
    background-image: -moz-linear-gradient(top, #2CC36B, #91ba52);
    background-image: -ms-linear-gradient(top, #2CC36B, #91ba52);
    background-image: -o-linear-gradient(top, #2CC36B, #91ba52);
    background-image: linear-gradient(top, #2CC36B, #91ba52);
}

.wordpress {
    width:70%;
    -moz-animation:wordpress 3s ease-in;
    -webkit-animation:wordpress 3s ease-in;
    background-color: #9B50BA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9B50BA), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #9B50BA, #5da3ba);
    background-image: -moz-linear-gradient(top, #9B50BA, #5da3ba);
    background-image: -ms-linear-gradient(top, #9B50BA, #5da3ba);
    background-image: -o-linear-gradient(top, #9B50BA, #5da3ba);
    background-image: linear-gradient(top, #9B50BA, #5da3ba)    
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:70%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:70%;}  }