body {
    background-color: #FBE9E7;
    overflow-x: hidden;
overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 12px;
  background: #fbe9e7;
  color: white;
  }

::-webkit-scrollbar-thumb {
  background-color: #424242 ;
  outline: 1px solid #fbe9e7;
}
::-webkit-scrollbar-corner, ::-webkit-resizer, ::-webkit-scrollbar-button{
  display: none;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.titleProj{
  margin-bottom: 10vh;
}
.imgCard{
  margin-bottom: - 10vh;
}
.leftSection {
    display: flex;
    flex-wrap: wrap;
    height: 150vh;
    max-height: 1200px;
    width: 30%;
    background-color: #ef5350;
    .leftSpacers{
      color: white;
      width: 100%;
      border-bottom: 4px solid white;
      div{
        width: 90%;
        margin: 0 auto;

      }
      a{
        color:#90caf9
      }
    }
}

.rightSection {
	background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 68%;
max-height: 1200px;
    height: 150vh;

    .firstRight{
    	h1{
    		width: 80%;
    		margin: 0 auto;
    	}

    	max-height: 1500px;
    	height: 100%;
    	overflow-y: scroll;
        .imgCard{
        	width: 100%;
        	height: 45%;
        }
        .img1{
        	margin-top: 5%;
        }
    }

    .card-content {
        background-color: black;
        color: white;
    }
    h1 {
        font-weight: 100;
        margin: 0 auto;
        color: white;
    }
}

.mePic {
    p {
        font-weight: 100;
        font-size: 1.2em;
    }
    width: 100%;
    background-color: #e74c3c;
    .card {
        background-color: #e74c3c;
    }
    img {
        display: block;
        margin: 0 auto;
        max-height: 30vh;
        width: auto;
    }
}

.contact {
    border-top: 2px solid white;
    i {
        color: #f1c40f
    }
    a {
        color: white;
    }
    a:hover {
        color: #2980b9
    }
}

.skillSet {
    word-spacing: 4px;
}

.aboutMe,
.skillSet,
.contact,
.skillSet {
    margin: 0 auto;
    background-color: #e74c3c;
    border-top: 2px solid white;
    color: white;
    flex: 1 1 auto;
}

#projTitle {
    font-weight: 200;
}
.modal{
  background-color: #FBE9E7;
  a, .modal-footer{
    background-color: #FBE9E7;
  }
  #workXP{
    font-weight: 100;
  }
  .resumeBreak{
    border-bottom: 2px solid black;
    margin-bottom: 2vh;
  }
}
.resumeImg{
  width: 125%;
}


.imgFlexContain {
	width: 70%;
	margin: 0 auto;

.modalImg {
    max-height: 30vh;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
}


#modal1 {
    color: black;
}



.resumeCard {
    background-color: black;
    h1 {
        font-weight: 100;
        color: white;
        display: block;
        margin: 0 auto;
    }
    color: black;
    h5 {
        font-weight: 200;
    }
    .textLang {
        background-color: black;
        color: white;
        border-bottom: 2px solid white;
        margin-bottom: 5px;
        padding-bottom: 45px;
        padding-top: 20px;
    }
    #finalRes {
        padding: none;
        border-bottom: none;
    }
}

@media screen and (max-width: 519px) and (min-width: 320px){
	.leftSection, .rightSection{
		width: 100%;
		height: 100%;
		max-height: none;
	}
  ::-webkit-scrollbar {
    width: 12px;
    background: #fbe9e7;
    color: white;
    }

  ::-webkit-scrollbar-thumb {
    background-color: #424242 ;
    outline: 1px solid #fbe9e7;
  }
  ::-webkit-scrollbar-corner, ::-webkit-resizer, ::-webkit-scrollbar-button{
    display: none;
  }
  .imgCard{
    margin-bottom: 1vh;
  }

}

@media screen and (min-width: 520px) and (max-width: 780px){
  .imgFlexContain {
  	width: 90%;
  	margin: 0 auto;
  }
	.firstLeft{
		width: 100%;
		margin: 0 auto;
	}


	.firstRight{
		justify-content: space-around;
    overflow-y: scroll;
    overflow-x:hidden;
    h1{
      width: 80%;
      margin: 0 auto;
    }
        .imgCard{
        	display: block;
        	width: 100%;
        	height: 100%;
          margin-bottom: -15vh;
        }
    }
  .leftSection{
    width: 38%;
  }
  .rightSection{
    width: 60%;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background: #fbe9e7;
    color: white;
    }

  ::-webkit-scrollbar-thumb {
    background-color: #424242 ;
    outline: 1px solid #fbe9e7;
  }
  ::-webkit-scrollbar-corner, ::-webkit-resizer, ::-webkit-scrollbar-button{
    display: none;
  }
}

@media screen and (max-width: 1199px) and (min-width: 781px){

  .imgFlexContain {
  	width: 80%;
  	margin: 0 auto;
  }
  .leftSection{
    width: 35%;
  }
  .rightSection{
    width: 60%;
  }
	.firstLeft{
		width: 100%;
		margin: 0 auto;
	}
  ::-webkit-scrollbar {
    width: 12px;
    background: #fbe9e7;
    color: white;
    }

  ::-webkit-scrollbar-thumb {
    background-color: #424242 ;
    outline: 1px solid #fbe9e7;
  }
  ::-webkit-scrollbar-corner, ::-webkit-resizer, ::-webkit-scrollbar-button{
    display: none;
  }
	.firstRight{
		justify-content: space-around;
    overflow-y: scroll;
    h1{
      width: 80%;
      margin: 0 auto;
    }
        .imgCard{
        	display: block;
        	width: 100%;
        	height: 100%;
          margin-bottom: -20vh;
        }
    }
}
