
<div class="resume viewStuff">
	

                        <div class="experience">
                        <ul><h1 class = "xp">Experience</h1>
                            <div class=" textLang card z-depth-2  light-blue accent-2 resStuff">
                            <ul>
                                <h3>Apple, Inc.</h3>
                                <h4> <i>iTunes Provider Support Advisor </i></h4>
                                <h5>August 2011 – Present</h5> <br>
                                    <p class = "projDesc"> Chosen to be a part of the inaugural iBookstore Publisher Support team. Provided superior support to third-party content providers using the iOS and Mac OS X Platforms. Contributed to training efforts of newly hired team members. Ranked highly amongst peers in productivity throughout my time in this position. Effectively managed email and phone queues resulting in consistently high levels of partner satisfaction. </p>
                            </ul>
                            </div>

                             <div class=" textLang card light-blue accent-2 z-depth-2 resStuff">
                            <ul>
                                <h3>Telicon</h3>
                                    <h4> <i>Legislative Reporter </i></h4>
                                    <h5>December 2010 – July 2011</h5> <br>
                                    <p class = "projDesc">Documented record votes from the floor of the Texas Senate. Transferred amendments from the Senate Floor to Telicon's website in real time. Produced detailed committee reports. Managed coverage of hearings on the senate floor for 7 other reporters. Researched and organized Telicon’s legislative directory. Edited reports written by senate reporters.</p>
                            </ul>
                             </div>

                              <div class=" textLang card light-blue accent-2 z-depth-2 resStuff">
                            <ul>
                                <h3>Chris Turner Campaign</h3>
                                    <h4> <i>Financial Director </i></h4>
                                    <h5>August 2010 – November 2010</h5> <br>
                                    <p class = "projDesc">Researched financial contributions from Political Action Committees to other campaigns throughout Texas during the previous five cycles. Organized detailed reports aiding in fundraising efforts. Supervised sensitive projects undertaken by volunteers.</p>
                            </ul>

                             </div>
                        </ul>
                        </div>
                        <div class="edu textLang">
                        <ul>
                            <h1 class = "xp">Education</h1>
                            <div class="card light-blue accent-2 z-depth-2 resStuff">
                        
                                <h3>University of Texas at Austin </h3> 
                                <h4> <i> B.A. Government </i></h4>
                                <h5>June 2006 - May 2010 </h5>
                                <ul>
                                </ul>
                            </ul>
                            </div>
			</div>