   <h3 class="titleTrack"> Skills </h3>
                    <div class="col s12">
                <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 left-align">
                <ul id="skill">
                    <h3 class= "skillBar">HTML // CSS</h3>
                    <li><span class="bar graphic-design"></span></li>
                    <h3 class= "skillBar">Javascript</h3>
                    <li><span class="bar html-css"></span></li>
                    <h3 class= "skillBar">jQuery</h3>
                    <li><span class="bar jquery"></span></li>
                    <h3 class= "skillBar">Angular</h3>
                    <li><span class="bar wordpress"></span></li>
                </ul>
            </div>
            </div>
        </div>
            